<div class='card container'>
  <div class='card-body'>
    <%= form_with(model: user, data: { controller: 'autosubmit', action: 'input->autosubmit#submit'}) do |form| %>
      <% if user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='card-text'>
        <div class='row card-text'>
          <div class='col-sm-2'></div>
          <div class='col-sm-3'>
            <%= form.label :email %>
          </div>
          <div class='col-sm-5'>
            <%= form.text_field :email %>
          </div>
          <div class='col-sm-2'></div>
        </div>

        <br>

        <div class='row'>
          <div class='col-sm-2'></div>
          <div class='col-sm-3'>
            <%= form.label :password_digest  %>
          </div>
          <div class='col-sm-5'>
            <%= form.password_field :password_digest, { class: 'column-4' }%>
          </div>
          <div class='col-sm-2'></div>
        </div>
        <div id="preview"></div>
        <br>
        <%= form.button 'Preview',
              formaction: preview_users_path,
              name: '_method',
              value: 'post',
              data: { autosubmit_target: 'submitbutton' },
              hidden: true %>
        <div class='row text-center'>
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
